{
    "semi": false,      
    "singleQuote": true, 
    "jsxSingleQuote": true, 
    "endOfLine": "auto",
    "arrowParens": "always",
    "printWidth": 80,   
    "tabWidth": 2,      
    "useTabs": false,   
    "trailingComma": "none"
  }
  